In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/Employee_Salaries.csv')

In [6]:
average_salary = df['Base_Salary'].mean()
print(f"The average salary of all employees is: {average_salary}")

The average salary of all employees is: 90312.16574420367

In [7]:
department_avg_salary = df.groupby('Department')['Base_Salary'].mean()
highest_avg_salary_department = department_avg_salary.idxmax()
print(f"The Department with the highest average salary is: {highest_avg_salary_department}")

The Department with the highest average salary is: IGR

In [8]:
gender_avg_salary = df.groupby('Gender')['Base_Salary'].mean()
print("The average salary of employees based on gender is:")
print(gender_avg_salary)

The average salary of employees based on gender is:
Gender
F    87497.502790
M    92382.929752
Name: Base_Salary, dtype: float64