In [12]:
#Complete the code to print out Hello Python! in a formatted string

message = "Python"
Greeting = "Hello, {}"
print(Greeting.format( "python"))

Hello, python

In [15]:
a = 5
b = 10

# perform addition expected output is 15
addition = a + b
print(addition)

15

In [16]:
a = "5"
b = "10"

# perform concatenation expected output is 510
concatenation = a + b
print(concatenation)

510

In [17]:
# extract domain from email

email = "python_dev@estarta.com"

domain = "estarta.com"
print(domain)

estarta.com

In [21]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# add "Honda" to the list

cars = ["Toyota", "Mercedes", "BMW", "Jeep" , "Honda"]

print(cars)

['Toyota', 'Mercedes', 'BMW', 'Jeep', 'Honda']

In [22]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# replace the second element with "Ford"

cars[1] = "Ford"

print(cars)

['Toyota', 'Ford', 'BMW', 'Jeep']

In [23]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]

# remove Toyota from the list

cars.remove("Toyota")

print(cars)

['Mercedes', 'BMW', 'Jeep']

In [24]:
cars = ["Toyota", "Mercedes", "BMW", "Jeep", "Honda"]

# check if Subaru is in the list
is_subaru_in_list = "Subaru" in cars
print(is_subaru_in_list)

False

In [25]:
#Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"

person = { "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}


print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan'}

In [26]:
#Add a new key-value pair with "city": "Amman"
person = { "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan" , "City": "Amman" }


print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan', 'City': 'Amman'}

In [27]:
#Update the occupation to "Surgeon"

person = { "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan" , "City": "Amman" }

person["occupation"] = "Surgeon"

print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'country': 'Jordan', 'City': 'Amman'}

In [34]:
#Remove the "country" key-value pair from the dictionary.

person = { "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan" , "City": "Amman" }

del person["country"]

#updated dictionary

print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'City': 'Amman'}

In [37]:
#Check if 4 is in the set

numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# your code here

print(4 in numbers)

False

In [38]:
#Add 5 to the set

numbers = {2, 5, 16, 8, 7, 9, 3, 1}

numbers.add(5)

print(numbers)

{1, 2, 3, 5, 7, 8, 9, 16}

In [39]:
#Remove 3 from the set

numbers = {2, 5, 16, 8, 7, 9, 3, 1}

numbers.remove(3)

print(numbers)

{1, 2, 5, 7, 8, 9, 16}

In [40]:
#Add 5 to the set

#sets do not allow duplicate elements, so adding 5 again will not change the set since 5 is already present

numbers = {2, 5, 16, 8, 7, 9, 3, 1}

numbers.add(5)

print(numbers)

{1, 2, 3, 5, 7, 8, 9, 16}

In [41]:
#Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set

numbers = {2, 5, 16, 8, 7, 9, 3, 1}

# Find the maximum number in the set
m = max(numbers)

# Create a new set with numbers from m+1 to m+10
set2 = set(range(m + 1, m + 11))

# Print the new set
print(set2)

{17, 18, 19, 20, 21, 22, 23, 24, 25, 26}